.ct-global-content {
	font-family: 'Ubuntu', 'Helvetica Neue', 'Arial', sans;
}

.ct-navbar {
	width: 100%;
	margin: none;
	padding: 8px;
	padding-bottom: 4px;
}

.ct-navbar-components {
	float: right;
	vertical-align: middle;
}

.ct-navbar-components li {
	padding: 6px;
	padding-top: 0;
	padding-bottom: 0;
	display: inline;
	font-weight: 100;
}

.ct-navbar-components li a {
	text-decoration: none;
	color: black;
}

.ct-navbar-components li a:hover {
	text-decoration: underline;
}

.ct-brand-color {
	/* color: #803f95; */
	color: #9B59B6;
}

.ct-mobile {
	display: none;
}

.ct-desktop {
	display: block;
}

@media(max-width: 720px) {
	.ct-mobile {
		display: block;
	}
	
	.ct-desktop {
		display: none;
	}
}

.ct-button {
	/* background: #9B59B6; */
	background: linear-gradient(140deg, #3614e2 0%, #8d00ff 100%);
	color: white !important;
	text-decoration: none;
	text-align: center;
	/* border: 1px solid #ab26bc; */
	border-radius: 10px;
	padding: 9px;
}

.ct-promo {
	height: 400px;
	background: url(pomogite.png) !important;
	background-position: center center bottom;
	background-size: 100% auto;
}

.ct-promo h1 {
	font-size: 35px;
}

.ct-promo-button {
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	
	color: white;
	padding: 9px;
	text-decoration: none;
}

.ct-promo-subtext {
	font-weight: 200;
}

.ct-justify-content-center {
    justify-content: center !important;
}

.ct-rounded-block {
	border-radius: 10px;
	background: #f7f7f7;
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.ct-subtext {
	font-weight: 100;
	font-size: 20px;
}

.ct-subtitle {
	font-weight: 200;
}

.ct-global-content {
	margin: 30px;
	margin-top: 4px;
}

@media(max-width: 720px) {
	.ct-global-content {
		margin: 8px;
	}
}

.ct-breadbars {
	float: right;
	vertical-align: middle;
	padding-right: 10px;
	
	font-size: 20px;
}

.ct-breadbars a {
	color: #9B59B6;
	text-decoration: none;
}

.ct-political {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.ct-team {
	display: grid;
	grid-gap: 1rem;
}

@media(min-width: 720px) {	
	.ct-team {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(min-width: 900px) {
	.ct-political {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.ct-team {
		grid-template-columns: repeat(3, 1fr);
	}
}

.ct-team-member img {
	width: 125px;
	height: 125px;
	
	border-radius: 50%;
}

.ct-team-member h4 {
	line-height: 0;
}

.ct-team-member p {
	font-weight: 200;
}

.ct-team-member .fab {
	font-size: 30px;
	color: lightgrey;
	padding-right: 2px;
}

.ct-team-member .fab:hover {
	color: #9B59B6;
}

.ct-followus {
	height: 250px;
	margin-top: 7px;
}

.ct-followus a {
	font-size: 50px;
	padding-top: 2px;
	color: grey;
}

.ct-followus a:hover {
	color: #9B59B6;
}

.ct-mobile-navbar-submenu {
	width: 100%;
	display: none;
}

.ct-mobile-navbar-submenu li {
	padding: 12px;
	list-style-type: none;
}

.ct-mobile-navbar-submenu a {
	font-weight: 100;
	color: grey;
	text-decoration: none;
}

.ct-mobile-navbar-submenu a:hover {
	color: darkgrey;
}

.ct-political-item {
	font-size: 16px;
	font-weight: 100;
	margin: 5px;
	margin-top: 24px;
}

.ct-political-description {
	font-family: 'Alegreya Sans', 'Ubuntu', 'Helvetica Neue', sans;
	font-weight: 400;
	font-size: 16px;
	padding-top: 15px;
}

.ct-manifesto-content {
	margin: 5px;
	font-size: 14px;
	text-align: left;
	font-family: 'Ubuntu', 'Helvetica Neue', 'Arial', sans;
}

.ct-light-title {
	font-weight: 200 !important; 
	font-size: 35px !important;
}

.ct-news-container {
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-right: 20px;
}

.ct-news-themselves {
	width: 75%;
	font-family: 'Alegreya Sans', 'Ubuntu', sans; 
}

.ct-news-filters-pane {
	flex-grow: 1;
	margin-left: 5px;
}

.ct-news-filters-pane .ct-rounded-block {
	display: block;
	padding: 15px;
	margin-bottom: 8px;
}

.ct-rounded-input {
	border: 1px solid grey;
	border-radius: 12px;
	padding: 10px;
	width: 100%;
	margin-bottom: 12px;
}

@media(max-width: 900px) {
	.ct-news-filters-pane {
		display: none;
	}
	
	.ct-news-container {
		flex-direction: column;
	}
	
	.ct-news-themselves {
		width: auto;
	}
}

.ct-news-header {
	margin: 12px;
	margin-left: 0;
	margin-right: 0;
	height: 250px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.ct-news-content {
	padding-bottom: 13px;
	font-size: 20px;
}

.ct-news-content-container {
	font-family: 'Alegreya Sans', 'Ubuntu', 'Helvetica Neue', sans;
}

.ct-news-subtitle {
	margin-top: 26px;
	margin-bottom: 13px;
	font-size: 35px;
	font-style: italic;
	font-weight: 200;
}