.ct-hero {
	/* border-radius: 12px; */
	
	height: 450px;
	background: url(pomogite.png) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.ct-political-description {
	margin-top: 1em;
}

.ct-political {
	margin-top: 2em; 
	margin-bottom: 2em;
}

.ct-political center {
	margin: 7px;
}

.ct-political-card {
	width: 350px;
}

.ct-margined-block {
	margin-top: 2em;
}

.ct-member-info a {
	color: grey;
	font-size: 26px;
	
	padding: 4px;
	margin-top: 7px;
}

.ct-mobile {
	display: none;
}

@media(max-width: 920px) {
	.ct-desktop {
		display: none;
	}
	
	.ct-mobile {
		display: inherit;
	}
}

.ct-category-register-block {
	margin: 9px;
}

.ct-container {
	display: block;
	max-width: 100%;
	width: auto;
	
	margin: 32px;
}

/*
@media(prefers-color-scheme: dark) {
	.ct-light-only {
		display: none;
	}
} */