.ct-account-content {
	font-family: 'Alegreya Sans', 'Helvetica Neue', sans;
	margin: 7px;
}

.ct-account-copyright {
	position: fixed; 
	color: lightgrey;
	bottom: 0;
	width: 100%; 
}

.ct-account-copyright a {
	color: lightgrey;
}

.ct-account-content h1 {
	font-style: normal !important;
	font-weight: 200 !important;
}

.ct-account-link {
	color: #9B59B6;
	text-decoration: none;
}

.ct-account-logo {
	margin-bottom: 12px;
	width: 100px;
	height: 63px;
}

.ct-account-picker-grid {
	display: grid;
	grid-template-columns: repeat(4, 200px);
	justify-content: center;
}

.ct-account-desktop {
	display: inherit;
}

.ct-account-mobile {
	display: none;
}

.ct-account-button {
	border-radius: 10px;
	padding: 12px;
	font-weight: 300;
	text-decoration: none;
	color: black;
	border: 1px solid gray;
}

.ct-account-vk-button {
	background: #4874A5 !important;
	border: 1px solid #4874A5 !important;
	color: white !important;
}

.ct-account-button-pixmap {
	width: 26px;
	height: 26px;
	vertical-align: middle;
}

@media(max-width: 720px) {
	.ct-account-button {
		display: block;
		margin: 5px;
	}
	
	.ct-account-mobile {
		display: block;
	}
	
	.ct-account-desktop {
		display: none;
	}
	
	.ct-account-button-pixmap {
		float: left;
	}
	
	.ct-account-copyright {
		position: inherit;
	}
}

.ct-account-form {
	border-radius: 10px;
	border: 1px solid #f1eeee;
	padding: 12px;
	border-collapse: collapse;
}

.ct-account-form td {
	border: 1px solid #f1eeee;
	font-weight: 400;
	padding: 9px;
	font-size: 20px;
	vertical-align: top;
}

.ct-account-form tr:nth-child(even) {
	background: #f1eeee;
}

.ct-account-form tr:nth-child(odd) {
	background: white;
}

.ct-account-form input {
	border-radius: 5px;
	border: 1px solid grey;
	font-size: 20px;
}

.ct-account-welcome-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.ct-account-welcome-header-profile-pic {
	padding: 8px;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.ct-account-admin-actions-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
}

.ct-account-admin-section {
	overflow-y: scroll;
	border: 1px solid grey;
	border-radius: 10px;
	height: 200px;
	width: 700px;
	text-align: left;
}

.ct-account-admin-section table {
	border-collapse: collapse;
	border: 2px solid #321452;
	width: 100%;
}

.ct-account-admin-section td, th {
	border: 2px solid #321452;
	padding: 9px;
}

.ct-account-admin-section tr:nth-child(even) {
	background: #e7dafd;
}

.ct-account-admin-section tr:nth-child(odd) {
	background: white;
}

.ct-account-admin-section th {
	background: #9B59B6;
	color: white;
}

.ct-account-single-textarea {
	border-radius: 5px;
	padding: 5px; 
	border: 1px solid grey;
	width: 65%;
	height: 250px;
}

@media(max-width: 1024px) {
	.ct-account-admin-actions-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width: 720px) {
	.ct-account-admin-actions-grid {
		grid-template-columns: 1fr;
	}
	
	.ct-account-admin-section {
		width: 100%;
	}
	
	.ct-account-single-textarea {
		width: 100%;
	}
}

.ct-account-admin-section-profile-pic {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.ct-account-admin-section-action-pixmap {
	width: 36px;
	height: 36px;
}

.ct-account-table-banned-user-row td {
	background: #f6c3c3 !important;
}

.ct-account-table-toreview-user-row td {
	background: #fbf5ae !important;
}

.ct-account-idea-grid {
	width: 700px;
}

.ct-account-club-block-extend {
	width: 300px;
}

@media(max-width: 720px) {
	.ct-account-idea-grid {
		width: 100%;
	}
	
	.ct-account-club-block-extend {
		width: 95%;
	}
}

.ct-account-idea-block {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 10px;
	text-align: left;
	margin: 7px;
}

.ct-account-idea-block h3 {
	font-style: normal !important;
	font-weight: 200 !important;
}

.ct-account-idea-meta {
	color: darkgrey;
	margin-top: 10px;
}

.ct-account-idea-meta div {
	margin-bottom: 10px;
}

.ct-account-idea-meta a {
	color: darkgrey;
}

