<div class="ct-political">
	<center><h1 class="ui header">6 основных пунктов программы партии</h1></center>
	<div class="ui center aligned equal width relaxed grid ct-margined-block">
		<div class="row">
			<div class="column">
				<center>
					<img src="<%= to('/images/additionalicons/trophy.png') %>" />
					
					<div class="ct-political-description">
						<b>Gorchakovsky Heroes</b><br>
						Программа волонтерства для лицеистов
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<img src="<%= to('/images/additionalicons/geo.png') %>" />
					
					<div class="ct-political-description">
						<b>Gorchakovsky Promoters</b><br>
						Совместные выездные мероприятия с другими школами
					</div>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<center>
					<img src="<%= to('/images/additionalicons/cauldron.png') %>" />
					
					<div class="ct-political-description">
						<b>Gorchakovsky Clubs</b><br>
						Неформальные клубы по интересам, организуемые как лицеистами, так и учителями
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<img src="<%= to('/images/additionalicons/trophy.png') %>" />
					
					<div class="ct-political-description">
						<b>Gorchakovsky Debates</b><br>
						Создание отдельного направления для более детальной реализации клуба дебатов под руководством Камелетдиновой Д.Р.
					</div>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<center>
					<img src="<%= to('/images/additionalicons/tvrain.png') %>" />
					
					<div class="ct-political-description">
						<b>Gorchakovsky Journalism</b><br>
						Создание официального новостного канала Лицея МГИМО; создание еженедельных подкастов о жизни лицеистов
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<img src="<%= to('/images/additionalicons/gaming.png') %>" />
					
					<div class="ct-political-description">
						<b>Gorchakovsky Cybersports</b><br>
						Создание киберспортивных команд при Горчаковском лицее МГИМО
					</div>
				</center>
			</div>
		</div>
	</div>
</div>

<div class="ct-political">
	<center><h1 class="ui header">Наши в Сенате</h1></center>
	<div class="ui grid ct-margined-block">
		<div class="four wide column">
			<center>
				<img class="ui small circular image" src="<%= to('/images/Tim.jpg') %>" />
				
				<div class="ct-political-description ct-member-info">
					<b>Тимофей Корякин</b><br>
					   <a href="https://t.me/timkoi"><i class="fab fa-telegram-plane"></i></a> 
					   <a href="https://vk.com/macosfox"><i class="fab fa-vk"></i></a>
				</div>
			</center>
		</div>
		
		<div class="four wide column">
			<center>
				<img class="ui small circular image" src="<%= to('/images/Valche.jpg') %>" />
				
				<div class="ct-political-description ct-member-info">
					<b>Валерий Черников</b><br>
					<a href="https://t.me/PizzaNoBasil"><i class="fab fa-telegram-plane"></i></a> 
						   <a href="https://vk.com/valched"><i class="fab fa-vk"></i></a>
				</div>
			</center>
		</div>
		
		<div class="four wide column">
			<center>
				<img class="ui small circular image" src="<%= to('/images/Katya.png') %>" />
				
				<div class="ct-political-description ct-member-info">
					<b>Екатерина Осадчук</b><br>
					<a href="https://vk.com/kateosadchuk"><i class="fab fa-vk"></i></a>
				</div>
			</center>
		</div>
		<div class="four wide column">
			<center>
				<img class="ui small circular image" src="<%= to('/images/Polina.jpeg') %>" />
				
				<div class="ct-political-description ct-member-info">
					<b>Полина Соколова</b><br>
					<a href="https://vk.com/koteykaprivate"><i class="fab fa-vk"></i></a>
				</div>
			</center>
		</div>
		<div class="four wide column">
			<center>
				<img class="ui small circular image" src="<%= to('/images/Arina.jpeg') %>" />
				
				<div class="ct-political-description ct-member-info">
					<b>Арина Ли</b><br>
					<a href="https://vk.com/id389645059"><i class="fab fa-vk"></i></a>
				</div>
			</center>
		</div>
		<div class="four wide column">
			<center>
				<img class="ui small circular image" src="<%= to('/images/Fidan.jpeg') %>" />
				
				<div class="ct-political-description ct-member-info">
					<b>Фидан Бадалова</b><br>
					<a href="https://vk.com/otvali_te"><i class="fab fa-vk"></i></a>
				</div>
			</center>
		</div>
	</div>
</div>