<div class="ui breadcrumb" style="margin-bottom: 2em;">
	<a class="section" href="<%= to('/clubs') %>">Клубы</a>
	<i class="right angle icon divider"></i>
	<div class="active section"><%= club.name.html_friendly %></div>
</div>

<div class="ui grid middle aligned">
	<div class="column" style="width: 160px;">
		<img src="<%= club.icon_url || to('/images/nothumb.png') %>" class="ui circular image" />
	</div>
	<div class="four wide column">
		<h1 class="ui header"><%= club.name.html_friendly %></h1>
		<% if club.join_type != :contact_link %>
			<p><i class="fas fa-users"></i> <%= club.users.size %> участников</p>
		<% end %>
	</div>
	<div class="eight wide right aligned column">
	<% if club.join_type == :on_site %>
		<a id="joinInButton" href="/auth/continue?tgt=clubs&vaarg=<%= club._id.to_s %>" class="ui right green button">Вступить</a>
	<% elsif club.join_type == :contact_link %>
		<a href="<%= club.join_link %>" class="ui primary button">Связаться с организаторами</a>
	<% end %>
	</div>
</div>
<span class="ui divider"></span>
<% if club.join_type == :closed %>
<div class="ui error message">Вступить в данный клуб на данный момент невозможно, так как регистрация закрыта.</div>
<% end %>
<p><%= RDiscount.new(club.description || '*Описание не указано.*').to_html %></p>

<% if club.join_type == :on_site %>
<script>
	const CURRENT_CLUB_ID = <%= club._id.to_s.inspect %>;
	updateClubStatus(CURRENT_CLUB_ID);
</script>
<% end %>