<h1 class="ui header">Доступные направления партии</h1>
<center>
	<div class="ui stackable centered equal width grid">
		<div class="three column row">
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/podcaststhumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky Journalism</div>
							<div class="description">
								Направление журналистики при Лицее МГИМО
							</div>
						</div>
						<div class="extra content">
							<a href="<%= to('/go/journalismjoin') %>" class="ui button">Подробнее</a>
						</div>
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/heroesthumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky Heroes</div>
							<div class="description">
								Направление волонтерской и благотворительной деятельности
							</div>
						</div>
						<div class="extra content">
							<a href="<%= to('/go/heroesjoin') %>" class="ui button">Подробнее</a>
						</div>
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/gamingthumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky Cybersports</div>
							<div class="description">
								Направление киберспорта при Лицее МГИМО
							</div>
						</div>
						<div class="extra content">
							<a href="<%= to('/go/csportsjoin') %>" class="ui button">Подробнее</a>
						</div>
					</div>
				</center>
			</div>
		</div>
		<div class="three column row">
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/codingthumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky TechDep</div>
							<div class="description">
								Технический комитет партии CaveTown
							</div>
						</div>
						<div class="extra content">
							<a href="<%= to('/go/techdepjoin') %>" class="ui button">Подробнее</a>
						</div>
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/promotersthumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky Promoters</div>
							<div class="description">
								Менеджмент и организация мероприятий
							</div>
						</div>
						<div class="extra content">
							<a href=#tbd" class="ui button">TBD</a>
						</div>
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/swthumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky Debates</div>
							<div class="description">
								Направление дебатов на разных языках на наболевшие темы
							</div>
						</div>
						<div class="extra content">
							<a href="#tbd" class="ui button">TBD</a>
						</div>
					</div>
				</center>
			</div>
		</div>
	</div>
</center>
<% clubs = CT::Models::Club.where( :hidden => false ).to_a %>
<% if clubs.size >= 1 %>
<div style="margin-top: 3em;">
	<h2 class="ui header">Клубы</h2>
	<div class="ui items">
		<% clubs.each do |club| %>
			<div class="item">
				<div class="ui tiny image">
					<% if club.icon_url.nil? %>
						<img src="<%= to('/images/nothumb.png') %>" />
					<% else %>
						<img src="<%= club.icon_url %>" />
					<% end %>
				</div>
				<div class="middle aligned content">
					<a href="<%= to('/clubs/' + club._id.to_s) %>" class="header"><%= club.name.html_friendly %></a>
					<div class="description">
						<p><i><%= if club.description.nil?
									  "Описание недоступно."
								  else
									  club.description.first_n_words(35)
								  end %></i></p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
<% end %>
