<div class="ui container">
	<h1 class="ui header">Презентация программы партии CaveTown на Выборах в Сенат 2021</h1>
	<!-- <div style="display: grid;">
		<div> -->
			<iframe src="https://onedrive.live.com/embed?cid=0A7727FB5A24B129&amp;resid=A7727FB5A24B129%211525&amp;authkey=AP8zRpW71eQLC2c&amp;em=2&amp;wdAr=1.7777777777777777" style="width: 100%; height: 500px;" frameborder="0">Это внедренный файл <a target="_blank" href="https://office.com">Microsoft Office</a> на платформе <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
		<!-- </div>
	</div> -->
	
	<h1 class="ui header">Полный манифест</h1>
	<iframe src="https://onedrive.live.com/embed?resid=A7727FB5A24B129%211522&amp;authkey=%21ABFzsJ1T-HcOHBA&amp;em=2&amp;wdEmbedCode=0" style="width: 100%; height: 500px;" frameborder="0">Это внедренный файл <a target="_blank" href="https://office.com">Microsoft Office</a> на платформе <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
</div>
