<div class="ui inverted ct-hero center aligned segment">
	<div class="ui text container">
		<h1 class="ui inverted header">Партия новых рубежей образования</h1>
		<a href="<%= to('/go/join') %>" class="ui huge inverted download button">Вступить</a>
	</div>
</div>

<div class="ct-political">
	<div class="ui basic clearing segment">
		<span class="ui huge header">Направления</span>
		<a href="<%= to('/clubs') %>" class="ui right floated button">Еще</a>
	</div>
	<div class="ui stackable centered equal width grid">
		<div class="three column row">
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/podcaststhumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky Journalism</div>
							<div class="description">
								Создание подкаста Gorchakovsky Talks и за работу телеканала Gorchakovsky Live
							</div>
						</div>
						<div class="extra content">
							<a href="<%= to('/go/journalismjoin') %>" class="ui button">Подробнее</a>
						</div>
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/heroesthumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky Heroes</div>
							<div class="description">
								Волонтерская деятельность для лицеистов
							</div>
						</div>
						<div class="extra content">
							<a href="<%= to('/go/heroesjoin') %>" class="ui button">Подробнее</a>
						</div>
					</div>
				</center>
			</div>
			<div class="column">
				<center>
					<div class="ui card ct-political-card">
						<div class="image">
							<img src="<%= to('/images/gamingthumb.jpg') %>" />
						</div>
						<div class="content">
							<div class="header">Gorchakovsky Cybersports</div>
							<div class="description">
								Направление киберспорта при Лицее МГИМО
							</div>
						</div>
						<div class="extra content">
							<a href="<%= to('/go/csportsjoin') %>" class="ui button">Подробнее</a>
						</div>
					</div>
				</center>
			</div>
		</div>
	</div>
</div>

<div class="ct-political">
	<center><h1 class="ui header">Новости</h1></center>
	<% news_articles = CT::Models::NewsArticle.all.to_a.sort_by { |o| o.when_added.to_time.to_i } %>
	<% news_articles = news_articles.reverse[0...3] %>
	<div class="ui medium items">
		<% news_articles.each do |na| %>
			<div class="item">
				<a class="ui small image">
					<% if not na.thumbnail_link.nil? %>
						<img src="<%= na.thumbnail_link %>" />
					<% else %>
						<img src="<%= to('/images/nothumb.png') %>" />
					<% end %>
				</a>
				<div class="middle aligned content">
					<a class="header"><%= na.title.html_friendly %></a>
					<div class="description">
						<p><%= na.tagline.html_friendly %></p>
					</div>
					<div class="extra">
						<a href="<%= to('/news/' + na._id.to_s) %>" class="ui left floated violet button">
							Читать >>
						</a>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>



