<div class="ui breadcrumb">
	<a class="section" href="<%= to('/news') %>">Новости</a>
	<i class="right angle icon divider"></i>
	<div class="active section"><%= article.title.html_friendly %></div>
</div>

<h1><%= article.title.html_friendly %></h1>
<p style="font-size: 20px;"><i><%= article.tagline.html_friendly %></i></p>
	
<div>
	<% if not article.thumbnail_link.nil? %>
		<img style="float: left;" src="<% article.thumbnail_link %>" />
	<% end %>
	
	<%= RDiscount.new(article.contents).to_html %>
</div>