<div class="ui basic clearing segment">
	<span class="ui huge header">Новости</span>
	<a href="https://vk.com/lyceumpartyio" class="ui right floated primary button"><i class="fab fa-vk"></i> Сообщество в VK</a>
	<a href="https://t.me/lyceumparty" class="ui right floated violet button"><i class="fab fa-telegram"></i> Канал в Telegram</a>
</div>

<div class="ui divided items">
	<% provided_news.each do |na| %>
		<div class="item">
			<div class="ui small image">
				<img src="<%= na.thumbnail_link || to('/images/nothumb.png') %>" />
			</div>
			<div class="middle aligned content">
				<a class="header" href="<%= to('/news/' + na._id.to_s) %>">
					<%= na.title.html_friendly %>
				</a>
				<div class="meta">
					<%= na.when_added.strftime('%d.%m.%Y') %>
				</div>
				<div class="description">
					<%= na.tagline.html_friendly %>
				</div>
				<div class="extra">
					<a class="ui violet button" href="<%= to('/news/' + na._id.to_s) %>">
						Читать далее >>
					</a>
				</div>
			</div>
		</div>
	<% end %>
</div>