<html>
	<head>
		<title>CaveTown</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://cdnjs.cloudflare.com/">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;400;500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">

		<!-- Semantic UI -->
		<link href="/semanticui/semantic.min.css" rel="stylesheet" id="themeLinkValue">
		<script src="/jquery.min.js"></script>
		<script src="/semanticui/semantic.min.js"></script>
		
		<link href="/images/ctsemantic.css" rel="stylesheet">
		<script src="/images/ctsemantic.js"></script>
		
		<% if CT::ALLOW_DARK_THEME %>
			<script>
				// load dark theme
				if (window.matchMedia('(prefers-color-scheme: dark)').matches)
					document.getElementById('themeLinkValue').href = '/semanticui/semantic.darkly.min.css';
			</script>
		<% end %>
	</head>
	<body>
		<!-- mobile menu -->
		<div class="ui right sidebar inverted vertical menu" id="mobiSB">
			<a href="<%= to('/about') %>" class="item">О нас</a>
			<a href="<%= to('/docs') %>" class="item">Документы</a>
			<a href="<%= to('/news') %>" class="item">Новости</a>
			<a href="<%= to('/clubs') %>" class="item">Клубы</a>
		</div>
		<div class="pusher">
			<!-- desktop menu -->
			<div class="ct-desktop">
				<div class="ui fixed inverted menu">
					<div class="ui container">
						<a href="<%= to('/index') %>" class="header item"><img src="<%= to('/images/orb.png') %>" />&nbsp;&nbsp;CaveTown</a>
						<a href="<%= to('/about') %>" class="item">О нас</a>
						<a href="<%= to('/docs') %>" class="item">Документы</a>
						<a href="<%= to('/news') %>" class="item">Новости</a>
						<a href="<%= to('/clubs') %>" class="item">Клубы</a>
						<div class="right menu">
							<a href="<%= to('/go/join') %>" class="ui violet item">Вступить</a>
						</div>
					</div>
				</div>
			</div>
			<div class="ct-mobile">
				<div class="ui fixed inverted large menu">
					<div class="ui container">
						<a href="<%= to('/index') %>" class="header item"><img src="<%= to('/images/orb.png') %>" /></a>
						<div class="right menu"><a href="#" onclick="javascript:triggerMobileSidebar()" class="ui item"><i class="fas fa-bars"></i></a></div>
					</div>
				</div>
			</div>
			<% container_type = if defined? is_news 
									'text'
								else
									'main'
								end %>
			<div class="ui <%= container_type %> container" style="margin-top: 4em; margin-bottom: 4em;">
				<div class="ui warning message ct-light-only">
					Новая версия цифровой платформы CaveTown на данный момент работает в экспериментальном режиме. О всех сбоях и проблемах, связанных с
					системой, стоит сообщать в <a href="https://t.me/timkoi">технический комитет (TechDep)</a>.
				</div>
			
				<!-- subsituted content -->
				<%= yield %>
			</div>
			
			<!-- footer -->
			<div class="ui inverted bottom fixed vertical footer segment">
				<div class="ui center aligned container">
					© <%= DateTime.now.year.to_s %> Партия лицеистов CaveTown. Разработка сайта - <a href="https://t.me/timkoi" style="color: grey;">Тимофей Корякин</a><br><br>
					
					<a title="Real Time Web Analytics" href="http://clicky.com/<%= CT::CLICKY_ID %>"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
					<script async src="//static.getclicky.com/<%= CT::CLICKY_ID %>.js"></script>
					<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/<%= CT::CLICKY_ID %>ns.gif" /></p></noscript>
				</div>
			</div>
		</div>
	</body>
</html>
