<br><a class="ct-account-link" href="logout">Выйти из аккаунта</a>
<h1>Администрирование сайта</h1>
<div class="ct-account-welcome-header">
	<div>
		<% if current_user.photo_url.nil? %>
			<img src="<%= to('/images/empty.png') %>" class="ct-account-welcome-header-profile-pic" />
		<% else %>
			<img src="<%= current_user.photo_url %>" class='ct-account-welcome-header-profile-pic' />
		<% end %>
	</div>
	<div style="text-align: left;">
		<h2 style="font-weight: 200; margin: 0; margin-bottom: 6px;">С возвращением, <%= current_user.full_name.to_s %>!</h2>
	</div>
</div>

<% if current_user.role == :deputy %>
	<% all_needed_users = all_users.reject { |user| (user.application[:sent] == false or user.role != :regular or user.application[:rejected]) } %>
	<% if all_needed_users.size >= 1 %>
		<h3>Заявки на участие в партии</h3>
		<div class="ct-account-admin-section">
			<table>
				<thead>
					<th scope="col">Пользователь</th>
					<th scope="col">Указанное ФИО</th>
					<th scope="col">Класс</th>
					<th scope="col">Описание</th>
					<th scope="col">Действия</th>
				</thead>
				<tbody>
					<% all_needed_users.each do |user| %>
						<tr id="applicationrow_<%= user.vk_id.to_s %>">
							<td><img src="<%= nice_user_photo(user) %>" class="ct-account-admin-section-profile-pic" /> <%= (user.full_name || user.vk_id).html_friendly %> <i>(<%= user.vk_id %>)</i></td>
							<td><%= user.application[:name].to_s.html_friendly %></td>
							<td><%= user.application[:grade] %></td>
							<td><%= user.application[:why].to_s.html_friendly %></td>
							<td>
								<a href="#" onclick="javascript:adminAcceptRejectApplication('accept', '<%= user.vk_id.to_s %>')"><img src="images/accept.png"  class="ct-account-admin-section-action-pixmap" /></a>
								<a href="#" onclick="javascript:adminAcceptRejectApplication('reject', '<%= user.vk_id.to_s %>')"><img src="images/reject.png"  class="ct-account-admin-section-action-pixmap" /></a>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
<% end %>

<h3>Пользователи сайта</h3>
<div class="ct-account-admin-section">
	<table>
		<thead>
			<th scope="col">Пользователь</th>
			<th scope="col">Внутренний ID</th>
			<th scope="col">Метод входа</th>
			<th scope="col">Роль</th>
			<th scope="col">Действия</th>
		</thead>
		<tbody>
			<% all_users.each do |user| %>
				<tr id="userrow_<%= user.vk_id %>">
					<td>
						<img src="<%= nice_user_photo(user) %>" class="ct-account-admin-section-profile-pic" />
						<% user_full_name = (user.full_name || user.vk_id).html_friendly %>
						<span><%= user_full_name %></span>
					</td>
					<td><i><%= user.vk_id %></i></td>
					<td><%= nice_auth_method_string_for_user(user) %></td>
					<td>
						<% nam_role = nice_role_string_for_user(user) %>
						<% if user.vk_id == current_user.vk_id or user.role == :deputy or current_user.role != :deputy %>
							<i><%= nam_role %></i>
						<% else %>
							<select id="userrole_<%= user.vk_id.to_s %>" onchange="javascript:adminChangeRole('<%= user.vk_id %>', this.value, '<%= user.role.to_s %>')">
								<% all_roles.each do |role_id, role_label| %>
									<option value="<%= role_id %>" <%= (role_label == nam_role) ? 'selected' : '' %> >
										<%= role_label %>
									</option>
								<% end %>
							</select>
						<% end %>
					</td>
					<td>
						<% if user.vk_id != current_user.vk_id and user.role != :deputy and current_user.role == :deputy %>
							<a href="#" onclick="javascript:adminDeleteAccount('<%= user.vk_id %>');"><img src="images/userdel.png"  class="ct-account-admin-section-action-pixmap" /></a>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<h3>Новостные статьи</h3>
<div class="ct-account-admin-section" style="height: 400px;">
	<br><br><a href="edit_article?id=__new" style="margin-left: 10px;" class="ct-account-button"><img src="images/addnews.png" class="ct-account-button-pixmap" />Добавить новость</a><br><br><br>
	
	<table>
		<thead>
			<th scope="col">Название статьи</th>
			<th scope="col">Дата/время публикации</th>
			<th scope="col">Автор</th>
			<th scope="col">Действия</th>
		</thead>
		<tbody>
			<% sorted_articles = all_news.sort_by { |itm| itm.when_added.to_time.to_i } %>
			<% sorted_articles.reverse! %>
			<% sorted_articles.each do |article| %>
				<% edit_url = "edit_article?id=#{article._id.to_s}" %>
				<tr id="articlerow_<%= article._id.to_s %>">
					<td><a href="<%= edit_url %>" class="ct-account-link" style="text-decoration: none;"><%= article.title.html_friendly %></a></td>
					<td><%= article.when_added.strftime('%d.%m.%Y %H:%M:%S') %></td>
					<% if article.author_id.nil? %>
						<td><i>Неизвестно</i></td>
					<% else %>
						<% matching_user = CT::Models::User.where( :vk_id => article.author_id ).first %>
						<% if matching_user.nil? %>
							<td><i>Бывший член партии</i></td>
						<% else %>
							<td><img src="<%= nice_user_photo(matching_user) %>" class="ct-account-admin-section-profile-pic" /> <%= matching_user.full_name.to_s %> <i>(<%= article.author_id %>)</i></td>
						<% end %>
					<% end %>
					<td>
						<a href="<%= edit_url %>"><img src="images/editnews.png" class="ct-account-admin-section-action-pixmap" /></a>
						<% if article.author_id == current_user.vk_id or current_user.role == :deputy %>
							<a href="#" onclick="javascript:adminDeleteArticle('<%= article._id.to_s %>')"><img src="images/delnews.png" class="ct-account-admin-section-action-pixmap" /></a>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<br><br><br>