<br><a class="ct-account-link" href="logout">Выйти из аккаунта</a>

<h1>Ваша учетная запись была деактивирована</h1>
<center>
	<div style="text-align: left;">
		Ваша учетная запись была деактивирована техническим комитетом партии по одной из следующих причин:
		<ul>
			<li>Вы самостоятельно подали заявку на удаление Вашей учетной записи</li>
			<li>Вы нарушили Кодекс партии CaveTown, правила пользования цифровой платформой CaveTown или были исключены из партии, если Вы принимали в ней участие, за серьезное нарушение Правил поведения Лицея МГИМО</li>
			<li>Ваша учетная запись была взломана и/или целенаправлено использована для попытки несанкционированной приостановки работы цифровой платформы CaveTown</li>
		</ul>
		
		Вы можете попробовать связаться с представителем технического направления партии CaveTown, если хотите попробовать восстановить Вашу учетную запись.
	</div>
</center>