<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://cdnjs.cloudflare.com/">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap" rel="stylesheet">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="ctaccount.js"></script>
		
	</head>
	<body style="font-family: 'Alegreya Sans', 'Helvetica Neue', sans;">
		<div>
			<a href="#" onclick="javascript:saveAndLeave()"><img src="images/back.png" /></a>
			<p style="margin-right: 9px; color: darkgreen; float: right; visibility: hidden;" id="autosaveStatusLabel">Автосохранение успешно!</p>
		</div>
		<textarea style="margin-top: 9px; width: 100%; height: 100%;">
		</textarea>
		
		<script>
			const PAGE_IDENTIFIER = <%= article_id.inspect %>;
			
			var editor = new SimpleMDE({ hideIcons: ['image'] });
			editor.value(<%= merged_contents.inspect %>);
			
			function showAutosaveLabel(success, response) {
				let el = document.getElementById('autosaveStatusLabel');
				
				if (success) {
					el.style.color = 'darkgreen';
					el.innerHTML = 'Автосохранение успешно!';
				} else {
					el.style.color = 'darkred';
					el.innerHTML = response;
				}
				
				el.style.visibility = 'visible';
				setTimeout(function() {
					el.style.visibility = 'hidden';
				}, 5000);
			}
			
			function performSaveEditor(callback) {
				const data = { id: PAGE_IDENTIFIER, contents: editor.value() };
				postToURL('edit_article', data, callback);
			}
			
			function saveAndLeave() {
				performSaveEditor(function(success, response) {
					if (!success)
						window.alert("Изменения не сохранены, произошла ошибка, пожалуйста, сохраните содержимое страницы самостоятельно.");
					else
						window.location.href = "manage";
				});
			}
			
			function autosaveEditor() {
				performSaveEditor(showAutosaveLabel);
			}
			
			setInterval(autosaveEditor, 25000);
		</script>
	</body>
</html>