<br><a class="ct-account-link" href="logout">Выйти из аккаунта</a>

<h1>Общественные инициативы</h1>

<div class="ct-account-desktop">
	<span>
		<a href="make_idea" class="ct-account-button">
			<img src="images/addnews.png" class="ct-account-button-pixmap" />  Предложить идею
		</a>
	</span>
	<!-- <span style="margin-left: 5px;">
		<a href="#" class="ct-account-button">
			<img src="images/search.png" class="ct-account-button-pixmap" />  Поиск
		</a>
	</span> -->
	<br><br>
</div>

<div class="ct-account-mobile">
	<a href="make_idea"><img src="images/addnews.png" class="ct-account-admin-section-action-pixmap" /></a> 
</div>

<div class="ct-account-admin-actions-grid ct-account-idea-grid">
	<% all_ideas.each do |idea| %>
		<div class="ct-account-idea-block">
			<h3><%= idea.name.html_friendly %></h3>
			<div class="ct-account-idea-description"><%= idea.description.to_s.html_friendly.gsub("\n", "<br>") %></div>
			
			<div class="ct-account-idea-meta">
				<div>
					<% related_author = CT::Models::User.where( :vk_id => idea.author_id ).first %>
					<% if related_author.nil? %>
						<span>Инициатива из космоса</span>
					<% else %>
						<span>Автор инициативы: <img src="<%= nice_user_photo(related_author) %>" class="ct-account-admin-section-profile-pic" /> <a href="<%= (related_author.page_link || "#").to_s %>"><%= (related_author.full_name || related_author.vk_id).to_s %></a></span>
					<% end %>
				</div>
				<div>
					<span>Дата добавления: <%= idea.when_added.strftime('%d.%m.%Y') %></span>
				</div>
				<div>
					<% like_img = idea.support_ids.include?(current_user_id).to_on_off %>
					<% dislike_img = idea.against_ids.include?(current_user_id).to_on_off %>
					<span style="color: #2ECC71;">
						<img ct-href="#js-eval" ct-js-eval="postVote('<%= idea._id.to_s %>', true);" ct-picker-on="images/agreeon.png" ct-picker-off="images/agree<%= like_img %>.png" src="images/agree<%= like_img %>.png" onmouseover="javascript:hoverableMouseHoverEvent(this, true)" onmouseleave="javascript:hoverableMouseHoverEvent(this, false)" onclick="javascript:hoverableMouseClickEvent(this)" class="ct-account-admin-section-action-pixmap" style="vertical-align: middle;" /> <%= (idea.support_ids || []).size %>
					</span>
					<span style="color: #E74C3C;">
						<img ct-href="#js-eval" ct-js-eval="postVote('<%= idea._id.to_s %>', false);" ct-picker-on="images/disagreeon.png" ct-picker-off="images/disagree<%= dislike_img %>.png" src="images/disagree<%= dislike_img %>.png" onmouseover="javascript:hoverableMouseHoverEvent(this, true)" onmouseleave="javascript:hoverableMouseHoverEvent(this, false)" onclick="javascript:hoverableMouseClickEvent(this)" class="ct-account-admin-section-action-pixmap" style="vertical-align: middle;" /> <%= (idea.against_ids || []).size %>
					</span>
				</div>
			</div>
		</div>
	<% end %>
</div>