<br><a class="ct-account-link" href="logout">Выйти из аккаунта</a>

<script>
	function confirmGoBack() {
		if (document.getElementById('onlyArea').value.trim().length >= 1) {
			if (!window.confirm('Вы уверены? Ваши изменения не будут сохранены!'))
				return;
		}
		
		window.location.href = "ideas";
	}
</script>

<div style="display: flex; justify-content: center; align-items: center;">
	<div><a href="#" onclick="javascript:confirmGoBack();"><img src="images/back.png" class="ct-account-admin-section-action-pixmap" style="vertical-align: middle;" /></a></div>
	<div style="margin-left: 6px;"><h1>Новое предложение</h1></div>
</div>

<p>Опишите Вашу идею в текстовом поле ниже, затем нажмите "Продолжить", чтобы опубликовать ее.</p>

<div><textarea row=7 col=12 class="ct-account-single-textarea" id="onlyArea" ></textarea></div>

<div>
	<br><a href="#" onclick="javascript:postNewIdea(document.getElementById('onlyArea').value);" class="ct-account-button">Продолжить</a>
</div>