<br><a class="ct-account-link" href="logout">Выйти из аккаунта</a>
<% if user_status == :regular && user_application_sent == false %>
<h1>Заявление о регистрации в качестве участника партии</h1>
<p>Если Вы хотите стать участником партии CaveTown, то Вам необходимо подать онлайн-заявление, заполнив форму, указанную ниже.</p>

<table class="ct-account-form">
	<tr>
		<td><p>ФИО</p></td>
		<td><input id="nameValue" type="text" id="nameValue" value="<%= user_full_name.html_friendly %>" /></td>
	</tr>
	<tr>
		<td><p>Класс</p></td>
		<td><input id="classValue" type="number" min=8 max=11 value=10 /></td>
	</tr>
	<tr>
		<td><p>Страница в соцсетях</p></td>
		<td><i><%= user_page.html_friendly %></i></td>
	</tr>
	<tr>
		<td><p>Почему Вы хотите стать участником партии?</p></td>
		<td><textarea id="whyThoValue" style="width: auto;" rows=7 cols=32></textarea></td>
	</tr>
	<tr>
		<td></td>
		<td class="ct-account-desktop"><br><a href="#" onclick="javascript:postJoinForm()" class="ct-account-button">Отправить</a><br><br></td>
	</tr>
</table>

<div class="ct-account-mobile">
	<a href="#" onclick="javascript:postJoinForm()" class="ct-account-button">Отправить</a>
</div>
<% elsif user_status != :regular %>
<h1>Вам не нужно заполнять заявление</h1>
<p>Так как Вы уже являетесь участником партии, никаких заявлений по очевидным причинам заполнять не нужно. Для выхода из партии свяжитесь с одним из представителей руководящих постов очно.</p>
<% else %>
<div style="margin: 14px;">
	<% if not user_application_rejected %>
		<img src="images/thankyou.png" />
		<h1>Спасибо!</h1>
		<p>Ваше заявление будет рассмотрено как можно скорее. Следите за этой страницей, чтобы узнать о статусе Вашей заявки.</p>
	<% else %>
		<img src="images/reject2.png" />
		<h1>Ваше заявление было отклонено</h1>
		<p>Ваше заявка была рассмотрена, но не была одобрена ключевыми членами партии. Обратитесь в технический комитет партии, если хотите попробовать подать заявление на участие повторно.</p>
	<% end %>
</div>
<% end %>