<h1>Что бы Вы хотели сделать?</h1>
<div class="ct-account-desktop">
	<div class="ct-account-picker-grid">
		<div>
			<img ct-href="continue?tgt=partyform" ct-picker-on="images/checkon.png" ct-picker-off="images/checkoff.png" src="images/checkoff.png" onmouseover="javascript:hoverableMouseHoverEvent(this, true)" onmouseleave="javascript:hoverableMouseHoverEvent(this, false)" onclick="javascript:hoverableMouseClickEvent(this)" />
			<p>Стать членом партии</p>
		</div>
		<div>
			<img ct-href="continue?tgt=ideas" ct-picker-on="images/lampon.png" ct-picker-off="images/lampoff.png" src="images/lampoff.png" onmouseover="javascript:hoverableMouseHoverEvent(this, true)" onmouseleave="javascript:hoverableMouseHoverEvent(this, false)" onclick="javascript:hoverableMouseClickEvent(this)" />
			<p>Предложить новую идею</p>
		</div>
		<div>
			<img ct-href="continue?tgt=clubs" ct-picker-on="images/clubson.png" ct-picker-off="images/clubsoff.png" src="images/clubsoff.png" onmouseover="javascript:hoverableMouseHoverEvent(this, true)" onmouseleave="javascript:hoverableMouseHoverEvent(this, false)" onclick="javascript:hoverableMouseClickEvent(this)" />
			<p>Мои клубы</p>
		</div>
		<% if not is_signed_in %>
		<div>
			<img ct-href="continue?tgt=manage" ct-picker-on="images/loginon.png" ct-picker-off="images/loginoff.png" src="images/loginoff.png" onmouseover="javascript:hoverableMouseHoverEvent(this, true)" onmouseleave="javascript:hoverableMouseHoverEvent(this, false)" onclick="javascript:hoverableMouseClickEvent(this)" />
			<p>Войти в свою учетную запись</p>
		</div>
		<% elsif allowed_admin_roles.include? user_role %>
		<div>
			<img ct-href="manage" ct-picker-on="images/manageon.png" ct-picker-off="images/manageoff.png" src="images/manageoff.png" onmouseover="javascript:hoverableMouseHoverEvent(this, true)" onmouseleave="javascript:hoverableMouseHoverEvent(this, false)" onclick="javascript:hoverableMouseClickEvent(this)" />
			<p>Управление сайтом</p>
		</div>
		<% else %>
		<div>
			<img ct-href="logout" ct-picker-on="images/leaveon.png" ct-picker-off="images/leaveoff.png" src="images/leaveoff.png" onmouseover="javascript:hoverableMouseHoverEvent(this, true)" onmouseleave="javascript:hoverableMouseHoverEvent(this, false)" onclick="javascript:hoverableMouseClickEvent(this)" />
			<p>Выйти из учетной записи</p>
		</div>
		<% end %>
	</div>
</div>

<div class="ct-account-mobile">
	<a class="ct-account-button" href="continue?tgt=partyform"><img src="images/checkoff.png" class="ct-account-button-pixmap" /> Стать членом партии</a>
	<a class="ct-account-button" href="continue?tgt=ideas"><img src="images/lampoff.png" class="ct-account-button-pixmap" /> Предложить новую идею</a>
	<a class="ct-account-button" href="continue?tgt=clubs"><img src="images/clubsoff.png" class="ct-account-button-pixmap" /> Мои клубы</a>
	<% if not is_signed_in %>
		<a class="ct-account-button" href="continue?tgt=manage"><img src="images/loginoff.png" class="ct-account-button-pixmap" /> Войти в свою учетную запись</a>
	<% elsif allowed_admin_roles.include? user_role %>
		<a class="ct-account-button" href="manage"><img src="images/manageoff.png" class="ct-account-button-pixmap" /> Управление сайтом</a>
	<% else %>
		<a class="ct-account-button" href="logout"><img src="images/leaveoff.png" class="ct-account-button-pixmap" /> Выйти из учетной записи</a>
	<% end %>
</div>