<h1>Вход в систему</h1>
<span style="font-weight: 300; font-size: 16px;">Для продолжения необходимо войти в систему или зарегистрироваться с помощью любого способа, указанного ниже.</span><br><br><br>

<script async src="https://telegram.org/js/telegram-widget.js?15" data-telegram-login="lyceumpartybot" data-size="large" data-radius="10" data-onauth="performTelegramAuth(user)"></script><br><br>
<a href="#" onclick="javascript:performVKAuth()" class="ct-account-button ct-account-vk-button">Войти с помощью ВКонтакте</a><br><br>

<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
<script>
const WHERE_TO_GO = <%= target_page.inspect %>;

function postLogin(token) {
	document.cookie = "CT_AUTH=" + token;
	window.location.href = WHERE_TO_GO;
}

function performTelegramAuth(user) {
	const toSend = { id: user.id, type: "tgauth", params: user };
	
	postToURL('continue', toSend, function(success, response) {
		if (success)
			postLogin(response);
		else
			document.getElementById('authErrorLabel').style.visibility = 'visible';
	});
}

function performVKAuth() {
	VK.Auth.login(function(params) {
		if (params.status == "connected") {
			console.log('did connect');
			
			const toSend = { id: params.session.mid, expires: params.session.expire,
							 type: "vkauth", params: params };
			
			postToURL('continue', toSend, function(success, response) {
				if (success)
					postLogin(response);
				else
					document.getElementById('authErrorLabel').style.visibility = 'visible';
			});
		}
	});
}

VK.init({apiId: 7960797});
 </script>
 
 <% if settings.environment == :development %>
 <b>ИЛИ</b>
 <br>
 <p>ID отладочного пользователя: <input type="text" id="userIdField" /></p>
 <a href="#" onclick="javascript:postIDAuth(document.getElementById('userIdField'), WHERE_TO_GO)" class="ct-account-button">Продолжить</a>
 <% end %>
 
 <p style="visibility: hidden; color: red;" id="authErrorLabel">Произошла ошибка.</p>