<script>
const CURRENT_CLUB_ID = <%= club._id.to_s.inspect %>;
</script>

<br><a class="ct-account-link" href="logout">Выйти из аккаунта</a>
<h1>Администрирование клуба</h1>
<div class="ct-account-welcome-header">
	<div>
		<img id="avatarDisplayElement" src="<%= club.icon_url || to('/images/nothumb.png') %>" class="ct-account-welcome-header-profile-pic" />
	</div>
	<div style="text-align: left;">
		<h2 id="nameHeading" style="font-weight: 200; margin: 0; margin-bottom: 6px;"><%= club.name.html_friendly %></h2>
		<a href="#" onclick="javascript:showInfoClubBlock()" class="ct-account-link">Изменить информацию</a>
	</div>
</div>

<div id="infoForClubBlock" style="display: none;">
	<h3>Информация о клубе</h3>
	<table class="ct-account-form">
		<tr>
			<td><p>Название</p></td>
			<td><input id="nameValue" type="text" value="<%= club.name.html_friendly %>" /></td>
		</tr>
		<tr>
			<td><p>Ссылка на группу</p></td>
			<td><a href="/clubs/<%= club._id.to_s %>">https://lyceumparty.io/clubs/<%= club._id.to_s %></a></td>
		</tr>
		<tr>
			<td><p>Регистрация открыта</p></td>
			<td><input type="checkbox" id="registrationOpenValue" <%= "checked" if club.join_type != :closed %> /></td>
		</tr>
		<tr>
			<td><p>Скрытый клуб</p></td>
			<td><input type="checkbox" id="hiddenValue" <%= "checked" if club.hidden %> /></td>
		</tr>
		<tr>
			<td><p>Ссылка для связи с организатором/-рами</p><p style="color: red;">Не указывайте это, если хотите оставить регистрацию через сайт!</p></td>
			<td><input id="connectLinkValue" type="text" value="<%= club.join_link %>" /></td>
		</tr>
		<tr>
			<td><p>Изменить значок</p></td>
			<td><input type="file" onchange="javascript:performUploadClubIcon(CURRENT_CLUB_ID, this)" accept="image/png, image/jpeg" /></td>
		</tr>
		<tr>
			<td><p>Описание</p><p>(поддерживается разметка <a href="https://lifehacker.ru/chto-takoe-markdown/">Markdown</a>, <br>прямо как в Discord-е)</p></td>
			<td><textarea id="descriptionValue" style="width: auto;" rows=7 cols=32><%= club.description %></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<br><a href="#" onclick="javascript:postClubInfo(CURRENT_CLUB_ID)" class="ct-account-button">Отправить</a><br><br><br>
				<p>Вы также можете <a href="#" onclick="javascript:performDeleteClub(CURRENT_CLUB_ID)">удалить этот клуб</a>.</p>
			</td>
		</tr>
	</table>
</div>

<h3>Участники</h3>
<div class="ct-account-admin-section">
	<table>
		<thead>
			<th scope="col">Пользователь</th>
			<th scope="col">Указанное ФИО</th>
			<th scope="col">Класс</th>
			<th scope="col">Статус</th>
			<th scope="col">Действия</th>
		</thead>
		<tbody>
			<% members.each do |user| %>
				<tr id="userInClub_<%= user.vk_id %>">
					<td>
						<img src="<%= nice_user_photo(user) %>" class="ct-account-admin-section-profile-pic" /> <%= (user.full_name || user.vk_id).html_friendly %> <i>(<%= user.vk_id %>)</i>
					</td>
					<% if user.application[:sent] %>
						<td>
							<%= user.application[:name].to_s.html_friendly %>
						</td>
						<td>
							<%= user.application[:grade] %>
						</td>
					<% else %>
						<td><i>Не указано</i></td>
						<td><i>Не указано</i></td>
					<% end %>
					<td id="userStatusInClub_<%= user.vk_id %>">
						<%= if not club.founders.include? user.vk_id
								"Участник"
							else
								"Адмиинистратор"
							end
						%>
					</td>
					<td>
						<% if not club.founders.include? user.vk_id %>
							<a href="#" onclick="javascript:performPromoteClubMember(CURRENT_CLUB_ID, '<%= user.vk_id %>')">
								<img class="ct-account-admin-section-action-pixmap" src="<%= to('/images/userclubpromote.png') %>" />
							</a>
						<% end %>
						<% if club.founders.first != user.vk_id %>
							<a href="#" onclick="javascript:performDeleteClubMember(CURRENT_CLUB_ID, '<%= user.vk_id %>')">
								<img class="ct-account-admin-section-action-pixmap" src="<%= to('/images/userdel.png') %>" />
							</a>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>