<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://promo.lyceumparty.io/">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		
		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap" rel="stylesheet">
		<link href="ctaccount.css" rel="stylesheet">
		
		<script src="3rdparty/antimat.js"></script>
		<script src="ctaccount.js"></script>
	</head>
	<body>
		<div class="ct-account-content">
			<center>
				<a href="/"><img class="ct-account-logo" src="/images/logosingle.png" /></a>
				<%= yield %>
			</center>
			
			<center class="ct-account-copyright"><p>© <%= DateTime.now.year %> CaveTown. Разработчик сайта - <a href="https://t.me/timkoi">Тимофей Корякин</a>.</p></center>
		</div>
	</body>
</html>