<br><a class="ct-account-link" href="logout">Выйти из аккаунта</a>
<h1>Мои клубы</h1>
<div>
	<% if all_clubs.size >= 1 %>
		<div class="ct-account-admin-actions-grid ct-account-idea-grid">
			<% all_clubs.each do |club| %>
				<div class="ct-account-idea-block ct-account-club-block-extend" id="relatedClubItem_<%= club._id.to_s %>">
					<div class="ct-account-welcome-header">
						<div>
							<img src="<%= club.icon_url || to('/images/nothumb.png') %>" class="ct-account-welcome-header-profile-pic" />
						</div>
						<div style="text-align: left;">
							<h2 style="font-weight: 200; margin: 0; margin-bottom: 6px;"><%= club.name %></h2>
							<% if club.founders.include? user_id %>
								<a href="clubs?id=<%= club._id.to_s %>" class="ct-account-link">Управление</a>
							<% else %>
								<a href="#" onclick="javascript:performLeaveClub('<%= club._id.to_s %>')" class="ct-account-link">Выйти</a>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		
		<p>Хотите создать новый клуб? Вам <a href="clubs?id=__new">сюда</a>.</p>
	<% else %>
		Вы еще не вступили ни в один клуб. Самое время <a href="/clubs">это сделать</a> или <a href="clubs?id=__new">создать новый</a>.
	<% end %>
</div>