<center><p>Пожалуйста, подождите, происходит выход из сети ВКонтакте...</p></center>

<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
<script>
	VK.init({apiId: 7960797});
	VK.Auth.logout(function(obj) { 
		console.log(obj);
		window.location.href = "continue";
	});
</script>